<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoGrupalGestionDeUsuarios.Properties.Settings.BugsTrackerConnectionString"
            connectionString="Data Source=DESKTOP-MGL5JN4;Initial Catalog=BugsTracker;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoGrupalGestionDeUsuarios.Properties.Settings.BugsTracker_ExtConnectionString"
            connectionString="Data Source=DESKTOP-MGL5JN4;Initial Catalog=BugsTracker_Ext;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>